{% extends "blog/padre.html" %}

{% load static %}

{% block content %}

<style>
    #cke_id_body{
        width: 100% !important;
    }
    #container{
        width: 50%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        height: auto;
        padding: 30px 20px 20px 20px;
        border-radius: 30px;
        margin-bottom: 20px;

    }
    #container h3{
        text-align: center;
    }

</style>

<div class = 'container' id = 'container'>

    <h3><strong> About </strong></h3>  


        <h3><strong> Emanuel Viltre </strong></h3>  

        <p style= "color:black;font-size:25px;"> Hello! I am 28 years old, I am from Argentina, I have experience in business and finance. A year ago I decided to venture into data analysis. Now, because I'm curious, I decided to see what else can be done with python! this work was a challenge since I did not know anything about object-oriented programming.
            I worked in the technology sector as a business development manager. I offered consulting to Fintech and Marketplaces
                (mvp) that will soon be released with seed investment which I am very proud of the job I have done.
                I am currently Founding a Analytics project and I found it interesting to venture into programming more than anything to get to know the area.</p> 

                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="https://www.linkedin.com/in/emanuel-viltre-516095138/">Linkedin!</a>


        
        
  
</div>


  {% endblock %}