{% extends "blog/padre.html" %}

{% load static %}

{% block content %}

{% for messages in messages %}
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">{{messages}}</h4>

  </div>
  {% endfor %}

<style>
    #cke_id_body{
        width: 100% !important;
    }
    #container{
        width: 50%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        height: auto;
        padding: 30px 20px 20px 20px;
        border-radius: 30px;
        margin-bottom: 20px;

    }
    #container h3{
        text-align: center;
    }

</style>

<div class = 'container' id = 'container'>

    <h3><strong> Edit Profile</strong></h3>  

    <form action="{% url 'editProfile' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}

        {{form.as_p}}
        {{form.media}}
        
        <input type = 'submit' value = 'Edit'>

    </form>

</div>
</form>

  {% endblock %}