{% extends "blog/padre.html" %}

{% load static %}

{% block content %}


<style>
    #cke_id_body{
        width: 100% !important;
    }
    #container{
        width: 50%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        height: auto;
        padding: 30px 20px 20px 20px;
        border-radius: 30px;
        margin-bottom: 20px;

    }
    #container h3{
        text-align: center;
    }

</style>
<p>
<div class = 'container' id = 'container'>

    <p> <h3>{{title}}</h3> </p> 


    <table>

        <thead>
            <tr class="w3-wide">
                <th>From: {{msg.sender}}</th>
                <th>Content</th>
                <th>Received</th>    
            </tr>
        </thead>

        <tbody>
            {% for msg in received %}
                <tr>
                    <th>{{msg.sender}}</th>
        
                    <td>{{msg.msg}}
                    <td>{{msg.sent_at}}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
   
    </p> 

    <p><h3>Sent</h3></p>


    <table>
        <thead>
            <tr class="w3-wide">
                <th>To:</th>
                <th>Content</th>
                <th>Sent</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for msg in sent %}
                <tr>
                    <th>{{msg.receiver}}</th>
        
                    <td>{{msg.msg}}
                        
                    <td>{{msg.sent_at}}</td>
                </tr>
            {% endfor %}
        </tbody>
        
    </table>


    <a button type="button"  href=" {% url 'newmessage' %} ">New message</button></a>
    <a button type="button" href=" {% url 'profile'  %} ">Return to Profile</button></a>

</div>
{% endblock %}